.form-control {
  display: flex;
  margin-top: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home a {
  margin-right: 10px;
  color: aliceblue;
}

button {
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 1rem;
  color: aliceblue;
  background-color: #282c34;
  border: 1px solid aliceblue;
  transition: all 500ms ease;
  font-weight: bold;
}

button:hover {
  background-color: aliceblue;
  color: #282c34;
}

.form-control input {
  border-radius: 1rem;
  color: aliceblue;
  background-color: #282c34;
  border: 1px solid aliceblue;
  padding: 10px;
}

.form-control label {
  width: 120px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
